.photo-grid {
    max-width: 1184px;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}
@media screen and (max-width: 1279px) {
    .photo-grid {
      max-width: 90.5%;
    }
}
  
@media screen and (max-width: 768px) {
    .photo-grid {
      max-width: 720px;
    }
}
  
@media screen and (max-width: 320px) {
    .photo-grid {
      max-width: 90%;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    }
}
