.page {
    background-color: #2A2C2F;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: 'inter', sans-serif;
}
.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px 56px;
}
.header__logo {
    background-image: url(./././images/header-logo.svg);
    width: 176px;
    height: 52px;
}
.header__lang {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: flex-end;
}
.header__lang-link {
    text-decoration: none;
    color: #fff;
    padding-left: 18px;
    font-weight: 400;
    font-size:  24px;
    line-height: 28px;
    transition: .2s ease-in-out;
}
  
.header__lang-link:hover {
    opacity: .5;
}
.header__lang-link_active {
    text-decoration: revert;
}
.lead {
    margin: 0 148px;
    max-width: 984px;
    margin: 0 auto 92px;
}
.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
    text-align: center;
    max-width: 720px;
}
.lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
   margin: 0 auto 64px;
   text-align: center;
}
.lead__image {
    margin-bottom: 8px;
}
