.page {
    background-color: #2A2C2F;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: 'inter', sans-serif;
}
.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px 56px;
    margin: 0 auto;
}

.header__logo {
    background-image: url(./././images/header-logo.svg);
    width: 176px;
    height: 52px;
}
.header__lang {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: flex-end;
}
.header__lang-link {
    text-decoration: none;
    color: #fff;
    padding-left: 18px;
    font-weight: 400;
    font-size:  24px;
    line-height: 28px;
    transition: .2s ease-in-out;
}
  
.header__lang-link:hover {
    opacity: .5;
}
.header__lang-link_active {
    text-decoration: revert;
}
.lead {
    margin: 0 auto 92px;
    max-width: 984px;
}
.lead__title {
    margin: 0 auto 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
}
.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 auto 64px;
    text-align: center;
}
.lead__image {
    width: 100%;
    margin-bottom: 8px;
}
.lead__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
}
.intro__text {
    margin: 0;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}
.intro__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.intro__span {
    font-weight: 700;
}
.intro {
    margin: 0 auto 92px;
    max-width: 984px;
}
.photo-grid {
    max-width: 1184px;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.photo-grid__image {
    width: 100%;
}
.places__list {
    list-style-type: none;
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 80px;
    margin-bottom: 92px;
}
.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-column-gap: 40px;
}
.place__website {
    align-self: end;
    margin-bottom: 48px;
}
.place__title {
    margin: 0 0 48px 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}
.place__paragraph {
    grid-column: 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px 0;
}
.place__paragraph:last-of-type {
    margin-bottom: 0;
}
.place__image {
    width: 100%;
    grid-row: 2/6;
}
.place__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    transition: .2s ease-in-out;
    color: #fff;
}
.place__link:hover {
    opacity: .5;
}
.place__url-heading {
    margin: 0 0 12px 0;
    color: #AAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
    position: relative;
    display: grid;
    grid-gap: 32px;
}
.cover:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .5;
    transition: .5s ease;
}
  
.cover:hover::before {
    opacity: .8;
}
.cover__background {
    background-image: url(./././images/cover-trains.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
}

.cover__title {
    margin: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    align-self: end;
}
.cover__subtitle {
    margin: 0;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    justify-self: center;
}
.cover__overlay {
    min-height: 740px;
    z-index: 2;
    grid-row: 1/3;
    grid-column: 1;
}
.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}
.footer__links {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}
.footer__link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    transition: .2s ease-in-out;
    padding-right: 18px;
}
  
.footer__link:hover {
    opacity: .5;
}
.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}