.place__image {
    width: 100%;
    grid-row: 2/6;
}
@media screen and (max-width: 767px) {
    .place__image {
      grid-row: auto;
      margin-bottom: 32px;
    }
}
@media screen and (max-width: 320px) {
  .place__image {
    margin-bottom: 32px;
  }
}