.lead {
    margin: 0 auto 92px;
    max-width: 984px;
}
@media screen and (max-width: 1024px) {
    .lead {
      max-width: 928px;
    }
}
  
@media screen and (max-width: 768px) {
    .lead {
      max-width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .lead {
      margin-bottom: 64px;
    }
}