.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    justify-self: center;
    color: #fff;
}
@media screen and (max-width: 767px) {
    .cover__subtitle {
      font-size: 18px;
      line-height: 22px;
      max-width: 80%;
    }
}
  
@media screen and (max-width: 320px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
      max-width: 82%;
    }
}