.footer__link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    transition: .2s ease-in-out;
    padding-right: 18px;
}
.footer__link:hover {
    opacity: .5;
}
@media screen and (max-width: 768px) {
    .footer__link {
      padding-right: 0;
      font-size: 24px;
      line-height: 24px;
    }
}
@media screen and (max-width: 320px) {
    dd {
        margin: 0px 0px 32px 0px;
    }
}