.places__list {
    list-style-type: none;
    max-width: 984px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    gap: 80px;
    margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
    .places__list {
      max-width: 928px;
    }
}
  
@media screen and (max-width: 768px) {
    .places__list {
      gap: 73px;
      max-width: 720px;
      padding: 0;
    }
}
  
@media screen and (max-width: 767px) {
    .places__list {
      max-width: 100%;
    }
}
  
@media screen and (max-width: 320px) {
    .places__list {
      gap: 50px;
      padding: 0;
      margin-bottom: 66px;
    }
}