.intro {
    margin: 0 auto 92px;
    max-width: 984px;
}
@media screen and (max-width: 1024px) {
    .intro {
      max-width: 90%;
    }
}
  
@media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
      padding-bottom: 88px;
    }
}
  
@media screen and (max-width: 320px) {
    .intro {
      padding-bottom: 64px;
      max-width: 90%;
      font-size: 32px;
      line-height: 35px;
    }
}