.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
    position: relative;
    display: grid;
}
.cover:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    transition: .5s ease;
}
.cover:hover::before {
    opacity: .8;
}
@media screen and (max-width: 767px) {
    .cover {
      grid-gap: 16px;
    }
}
@media screen and (max-width: 320px) {
    .cover{
        margin-bottom: 64px;
    }
}