.cover__overlay {
    min-height: 740px;
    z-index: 2;
    grid-row: 1/3;
    grid-column: 1;
    text-decoration: none;
}
@media screen and (max-width: 1279px) {
    .cover__overlay {
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__overlay {
      min-height: 480px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__overlay {
      min-height: 200px;
    }
  } 