.cover__title {
    margin: 0 auto 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .cover__title {
      max-width: 80%;
      font-size: 72px;
      line-height: 76px;
    }
}
  
@media screen and (max-width: 320px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 16px;
    }
}