.cover__title {
    margin: 0 auto 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    align-self: end;
    color: #fff;
    padding-top: 245px;
}
@media screen and (max-width: 1024) {
  .cover__title {
    padding-top: 195px;
    
  }
}
@media screen and (max-width: 768px) {
    .cover__title {
      max-width: 80%;
      font-size: 72px;
      line-height: 76px;
      padding-top: 115px;
      padding-right: 104px;
      padding-left: 104px;
    }
}
  
@media screen and (max-width: 320px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      padding-top: 33px;
      padding-bottom: 16px;
    }
}