.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .footer{
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 1024px) {
    .footer {
      margin-left: 48px;
      margin-right: 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
      margin-left: 24px;
      margin-right: 24px;

    }
}
@media screen and (max-width: 766px) {
  .footer{
    flex-direction: column;
    margin-left: 16px;
  }
}
