.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1279px) {
    .footer {
      max-width: 928px;
    }
}
  
@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      margin-left: 16px;
    }
}